<h1 class="page-header"> {{ !client.id ? 'Incluir' : 'Alterar' }} Cliente</h1>

<div ng-init="init()">

	<form class="form">
		<div class="form-group">
			<label for="name">Nome</label>
			<input type="text" id="name" class="form-control" required>
		</div>

		<div class="form-group">
			<label for="address">Endereço</label>
			<input type="text" id="address" class="form-control">
		</div>

		<div class="row">
			<div class="form-group col-xs-6">
				<label for="phone">Telefone</label>
				<input type="tel" id="phone" class="form-control">
			</div>

			<div class="form-group col-xs-6">
				<label for="email">Email</label>
				<input type="email" id="email" class="form-control">
			</div>
		</div>

		<div class="form-group">
			<label for="observation">Observação</label>
			<textarea type="text" id="observation" class="form-control"></textarea>
		</div>

		<a href="#/clients" class="btn btn-danger">Cancelar</a>
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</div>